@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
    font-family: yekanBakh;
    src: url('../fonts/YEKANBAKH-VF.TTF');
    font-weight: bold;
}
@font-face {
    font-family: yekanBakh;
    src: url('../fonts/yekanbakh-light.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: yekanBakh;
    src: url('../fonts/yekanbakh-medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: commissioner;
    src: url('../fonts/COMMISSIONER-VARIABLEFONT_WGHT.TTF');
    font-weight: bold;
}
@font-face {
    font-family: commissioner;
    src: url('../fonts/COMMISSIONER-VARIABLEFONT_WGHT.TTF');
    font-weight: lighter;
}

@font-face {
    font-family: commissioner;
    src: url('../fonts/COMMISSIONER-VARIABLEFONT_WGHT.TTF');
    font-weight: 500;
}

:not(code) {
    font-family: commissioner, yekanBakh !important;
}

html {
    @apply h-full;
}
body, #app {
    @apply h-full w-full flex flex-col bg-[#111111] text-orange-100 overflow-hidden;
    color-scheme: 'dark';
}
#app {
    @apply pt-5 md:pt-10 md:w-3/6 w-full mx-auto relative;
}

code {
    @apply mx-2;
    font-family: monospace;
}

::-webkit-scrollbar {
    @apply rounded-md;
    width: 5px;
}

::-webkit-scrollbar-track {
    @apply rounded-sm;
    background: #ffffff22; 
}

::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-orange-100 bg-opacity-50;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-opacity-70;
}